.SubscriptionCategoryalignment {
  width: 100%;
}
.table-row {
  max-width: 10%;
  min-width: 50px;
}

.card-body {
  width: 100%;
  .iRmAgx div:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
